.chassis .button, .chassis button, .showroom .content > section.buttons .custom-button, .showroom .content > section.buttons .button.outlined, .showroom .content > section.buttons .button.with-shadow, .showroom .content > section.buttons .button.beveled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.chassis a.disabled, .chassis .disabled.button, .chassis button.disabled, .showroom .content > section.buttons .disabled.custom-button, .showroom .content > section.buttons .button.outlined.disabled, .showroom .content > section.buttons .button.with-shadow.disabled, .showroom .content > section.buttons .button.beveled.disabled {
  pointer-events: none; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol,
ul {
  list-style: none; }

q,
blockquote {
  quotes: none; }
  q:before, q:after,
  blockquote:before,
  blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

input,
textarea,
button {
  font-size: inherit; }

.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important; }

.thin-weight {
  font-weight: 100 !important; }

.light-weight {
  font-weight: 300 !important; }

.regular-weight {
  font-weight: 400 !important; }

.semibold-weight {
  font-weight: 500 !important; }

.bold-weight {
  font-weight: 700 !important; }

.ultra-weight {
  font-weight: 900 !important; }

.normal-style {
  font-style: normal !important; }

.italic-style {
  font-style: italic !important; }

.width-constraint {
  width: 100%;
  min-width: 320px !important;
  max-width: 1440px !important;
  margin: 0 auto;
  padding-left: 6.18vw;
  padding-right: 6.18vw; }
  @media screen and (max-width: 320px) {
    .width-constraint {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 1440px) {
    .width-constraint {
      padding-left: 89px;
      padding-right: 89px; } }

.chassis {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px; }
  .chassis h1 {
    font-size: 1.6em;
    line-height: 1.41667em;
    margin-bottom: 0.87555em; }
  .chassis h2 {
    font-size: 1.26667em;
    line-height: 1.16667em;
    margin-bottom: 0.91079em; }
  .chassis h3 {
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 0.98885em; }
  .chassis h4 {
    font-size: 0.8em;
    line-height: 0.875em;
    margin-bottom: 1.08156em; }
  .chassis h5 {
    font-size: 0.8em;
    line-height: 0.875em;
    margin-bottom: 1.08156em; }
  .chassis h6 {
    font-size: 0.8em;
    line-height: 0.875em;
    margin-bottom: 1.08156em; }
  .chassis legend {
    font-size: 1.26667em;
    line-height: 1.16667em;
    margin-bottom: 0.91079em; }
  .chassis section,
  .chassis nav,
  .chassis form {
    margin-bottom: 2.58885em; }
  .chassis nav section,
  .chassis section nav,
  .chassis nav nav,
  .chassis article,
  .chassis fieldset,
  .chassis figure,
  .chassis pre,
  .chassis blockquote,
  .chassis table,
  .chassis canvas,
  .chassis embed {
    margin-bottom: 1.6em; }
  .chassis p {
    margin-bottom: 1em; }
  @media screen and (min-width: 512px) and (max-width: 767px) {
    .chassis {
      font-size: 16px;
      line-height: 27px; }
      .chassis h1 {
        font-size: 1.625em;
        line-height: 1.40741em; }
      .chassis h2 {
        font-size: 1.25em;
        line-height: 1.14815em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.8125em;
        line-height: 0.88889em; }
      .chassis h5 {
        font-size: 0.8125em;
        line-height: 0.88889em; }
      .chassis h6 {
        font-size: 0.8125em;
        line-height: 0.88889em; }
      .chassis legend {
        font-size: 1.25em;
        line-height: 1.14815em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.73043em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.6875em; }
      .chassis p {
        margin-bottom: 1em; }
      .chassis input,
      .chassis textarea {
        font-size: 16px; }
      .chassis textarea {
        line-height: 27px; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .chassis {
      font-size: 17px;
      line-height: 29px; }
      .chassis h1 {
        font-size: 1.64706em;
        line-height: 1.41379em; }
      .chassis h2 {
        font-size: 1.29412em;
        line-height: 1.17241em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.76471em;
        line-height: 0.89655em; }
      .chassis h5 {
        font-size: 0.76471em;
        line-height: 0.89655em; }
      .chassis h6 {
        font-size: 0.76471em;
        line-height: 0.89655em; }
      .chassis legend {
        font-size: 1.29412em;
        line-height: 1.17241em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.76018em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.70588em; }
      .chassis p {
        margin-bottom: 1em; }
      .chassis input,
      .chassis textarea {
        font-size: 17px; }
      .chassis textarea {
        line-height: 29px; } }
  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    .chassis {
      font-size: 18px;
      line-height: 31px; }
      .chassis h1 {
        font-size: 1.61111em;
        line-height: 1.3871em; }
      .chassis h2 {
        font-size: 1.27778em;
        line-height: 1.16129em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.77778em;
        line-height: 0.90323em; }
      .chassis h5 {
        font-size: 0.77778em;
        line-height: 0.90323em; }
      .chassis h6 {
        font-size: 0.77778em;
        line-height: 0.90323em; }
      .chassis legend {
        font-size: 1.27778em;
        line-height: 1.16129em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.78661em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.72222em; }
      .chassis p {
        margin-bottom: 1em; }
      .chassis input,
      .chassis textarea {
        font-size: 18px; }
      .chassis textarea {
        line-height: 31px; } }
  @media screen and (min-width: 1200px) {
    .chassis {
      font-size: 19px;
      line-height: 34px; }
      .chassis h1 {
        font-size: 1.63158em;
        line-height: 1.35294em; }
      .chassis h2 {
        font-size: 1.26316em;
        line-height: 1.11765em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.78947em;
        line-height: 0.91176em; }
      .chassis h5 {
        font-size: 0.78947em;
        line-height: 0.91176em; }
      .chassis h6 {
        font-size: 0.78947em;
        line-height: 0.91176em; }
      .chassis legend {
        font-size: 1.26316em;
        line-height: 1.11765em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.89543em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.78947em; }
      .chassis p {
        margin-bottom: 1em; }
      .chassis input,
      .chassis textarea {
        font-size: 19px; }
      .chassis textarea {
        line-height: 34px; } }

@font-face {
  font-family: Malva;
  src: local("Malva Light"), url("/resources/fonts/Malva-Light.otf");
  font-weight: 400; }

@font-face {
  font-family: Malva;
  src: local("Malva Regular"), url("/resources/fonts/Malva-Regular.otf");
  font-weight: 500; }

@font-face {
  font-family: Malva;
  src: local("Malva Bold"), url("/resources/fonts/Malva-Bold.otf");
  font-weight: 700; }

html {
  background: white; }

.chassis {
  font-family: Malva;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  color: #444444; }
  .chassis a {
    text-decoration: none;
    text-transform: none;
    color: #0098e6; }
    .chassis a:hover {
      text-decoration: underline;
      color: #0091dc; }
    .chassis a:active {
      text-decoration: initial;
      color: #009ff0; }
    .chassis a.disabled {
      text-decoration: initial;
      color: #bcbdc1; }
  .chassis h1 {
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }
  .chassis h2 {
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }
  .chassis h3 {
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }
  .chassis h4 {
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }
  .chassis h5 {
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }
  .chassis h6 {
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }

.chassis .button, .chassis button, .showroom .content > section.buttons .custom-button {
  display: inline-block;
  margin: 0 0.7888em 1.57761em 0;
  padding: 0 0.7888em;
  line-height: 2.55263em;
  background: #0098e6;
  border-radius: 0.24063em;
  border: none;
  outline: none;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: white;
  cursor: pointer; }
  .chassis .button:visited, .chassis button:visited, .showroom .content > section.buttons .custom-button:visited {
    background: #0098e6;
    font-family: Malva;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
    color: white; }
  .chassis .button:hover, .chassis button:hover, .showroom .content > section.buttons .custom-button:hover {
    background: #00a2f5;
    font-family: Malva;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
    color: white; }
  .chassis .button:active, .chassis button:active, .showroom .content > section.buttons .custom-button:active {
    background: #0091dc;
    font-family: Malva;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
    color: white; }
  .chassis .disabled.button, .chassis button.disabled, .showroom .content > section.buttons .disabled.custom-button {
    opacity: 0.382; }
  .chassis .button:focus, .chassis button:focus, .showroom .content > section.buttons .custom-button:focus {
    outline: none; }

.chassis .dropdown-menu {
  position: relative;
  display: inline-block;
  margin-bottom: 0; }
  .chassis .dropdown-menu header {
    display: flex;
    align-items: center; }
  .chassis .dropdown-menu nav,
  .chassis .dropdown-menu menu,
  .chassis .dropdown-menu .menu {
    position: absolute;
    right: 0;
    z-index: 997;
    display: none;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    min-width: 100%;
    white-space: nowrap; }
    .chassis .dropdown-menu nav a,
    .chassis .dropdown-menu menu a,
    .chassis .dropdown-menu .menu a {
      flex: 1 0 auto;
      align-items: center;
      display: block; }
  .chassis .dropdown-menu:hover nav,
  .chassis .dropdown-menu:hover menu,
  .chassis .dropdown-menu:hover .menu {
    display: flex;
    visibility: visible;
    opacity: 1; }

.chassis ::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

.chassis ::-webkit-input-placeholder,
.chassis :-moz-placeholder,
.chassis ::-moz-placeholder,
.chassis :-ms-input-placeholder {
  color: #a9aaae; }

.chassis ::placeholder {
  color: red !important; }

.chassis label {
  display: block;
  cursor: pointer; }

.chassis input[type="date"], .chassis input[type="datetime-local"], .chassis input[type="email"], .chassis input[type="file"], .chassis input[type="month"], .chassis input[type="number"], .chassis input[type="password"], .chassis input[type="range"], .chassis input[type="search"], .chassis input[type="tel"], .chassis input[type="text"], .chassis input[type="time"], .chassis input[type="url"], .chassis input[type="week"] {
  margin: 0 0.7888em 1.57761em 0;
  padding: 0 0.7888em;
  line-height: 2.55263em;
  background: white;
  box-shadow: inset 0 -1px 0 0 #bcbdc1;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-family: Malva;
  font-weight: 400;
  color: #444444; }
  .chassis input[type="date"]:focus, .chassis input[type="datetime-local"]:focus, .chassis input[type="email"]:focus, .chassis input[type="file"]:focus, .chassis input[type="month"]:focus, .chassis input[type="number"]:focus, .chassis input[type="password"]:focus, .chassis input[type="range"]:focus, .chassis input[type="search"]:focus, .chassis input[type="tel"]:focus, .chassis input[type="text"]:focus, .chassis input[type="time"]:focus, .chassis input[type="url"]:focus, .chassis input[type="week"]:focus {
    outline: 0;
    box-shadow: inset 0 -2px 0 0 #0098e6; }
    .chassis input[type="date"]:focus ~ .button,
    .chassis input[type="date"]:focus button, .chassis input[type="datetime-local"]:focus ~ .button,
    .chassis input[type="datetime-local"]:focus button, .chassis input[type="email"]:focus ~ .button,
    .chassis input[type="email"]:focus button, .chassis input[type="file"]:focus ~ .button,
    .chassis input[type="file"]:focus button, .chassis input[type="month"]:focus ~ .button,
    .chassis input[type="month"]:focus button, .chassis input[type="number"]:focus ~ .button,
    .chassis input[type="number"]:focus button, .chassis input[type="password"]:focus ~ .button,
    .chassis input[type="password"]:focus button, .chassis input[type="range"]:focus ~ .button,
    .chassis input[type="range"]:focus button, .chassis input[type="search"]:focus ~ .button,
    .chassis input[type="search"]:focus button, .chassis input[type="tel"]:focus ~ .button,
    .chassis input[type="tel"]:focus button, .chassis input[type="text"]:focus ~ .button,
    .chassis input[type="text"]:focus button, .chassis input[type="time"]:focus ~ .button,
    .chassis input[type="time"]:focus button, .chassis input[type="url"]:focus ~ .button,
    .chassis input[type="url"]:focus button, .chassis input[type="week"]:focus ~ .button,
    .chassis input[type="week"]:focus button {
      box-shadow: inset 0 -2px 0 0 #0098e6; }

.chassis input[type="checkbox"] + label, .chassis input[type="radio"] + label {
  display: inline-block; }

.chassis textarea {
  margin: 0 0.7888em 1.57761em 0;
  padding: 0.48751em 0.7888em;
  line-height: 1.57761em;
  overflow: auto;
  vertical-align: top;
  resize: none;
  background: white;
  box-shadow: inset 0 0 0 1px #bcbdc1;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-family: Malva;
  font-weight: 400;
  color: #444444; }
  .chassis textarea:focus {
    outline: 0;
    box-shadow: inset 0 0 0 2px #0098e6; }

.chassis button {
  font-family: Malva;
  font-weight: 400; }

.chassis select[multiple] {
  vertical-align: top; }

.chassis .input-wrapper {
  display: flex; }
  .chassis .input-wrapper *:last-child {
    margin-right: 0; }
  .chassis .input-wrapper *::-ms-backdrop,
  .chassis .input-wrapper * input:not([type='checkbox']):not([type='radio']) {
    min-height: 2.61803em; }
  .chassis .input-wrapper *::-ms-backdrop,
  .chassis .input-wrapper * textarea {
    min-height: 7.85409em; }
  .chassis .input-wrapper input[type="date"], .chassis .input-wrapper input[type="datetime-local"], .chassis .input-wrapper input[type="email"], .chassis .input-wrapper input[type="file"], .chassis .input-wrapper input[type="month"], .chassis .input-wrapper input[type="number"], .chassis .input-wrapper input[type="password"], .chassis .input-wrapper input[type="range"], .chassis .input-wrapper input[type="search"], .chassis .input-wrapper input[type="tel"], .chassis .input-wrapper input[type="text"], .chassis .input-wrapper input[type="time"], .chassis .input-wrapper input[type="url"], .chassis .input-wrapper input[type="week"] {
    flex: 1 1 auto;
    width: 0;
    max-width: 100%;
    margin: 0; }
  .chassis .input-wrapper input:focus ~ .button {
    box-shadow: inset 0 -2px 0 0 #0098e6; }
  .chassis .input-wrapper textarea {
    flex: 1 1 auto;
    width: 0;
    max-width: 100%;
    margin-bottom: 0; }
    .chassis .input-wrapper textarea:last-child {
      margin-right: 0; }
  .chassis .input-wrapper .button {
    display: flex;
    align-items: center;
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: inset 0 -1px 0 0 #bcbdc1;
    color: #949599; }
    .chassis .input-wrapper .button svg.icon {
      fill: #949599; }
    .chassis .input-wrapper .button:hover {
      background: transparent;
      color: #636466; }
      .chassis .input-wrapper .button:hover svg.icon {
        fill: #636466; }

.chassis form > *:last-child,
.chassis form fieldset > *:last-child {
  margin-bottom: 0; }

.chassis form legend {
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none; }

.chassis form .field {
  margin: 0 0 1.57761em 0; }

.chassis form .group {
  margin: 0 0 1.57761em 0; }
  .chassis form .group .field {
    margin-bottom: 0; }

.chassis form .row {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.57761em 0; }
  .chassis form .row > *:last-child {
    margin-bottom: 0; }
  .chassis form .row .group {
    margin: 0 0 1.57761em 0; }
    .chassis form .row .group:last-child {
      margin-bottom: 0; }
    .chassis form .row .group .field {
      margin-bottom: 0; }
  @media screen and (min-width: 769px) {
    .chassis form .row {
      flex-direction: row; }
      .chassis form .row .field,
      .chassis form .row .group {
        flex: 1 1 50%;
        margin: 0 1em; }
        .chassis form .row .field:first-child,
        .chassis form .row .group:first-child {
          margin-left: 0; }
        .chassis form .row .field:last-child,
        .chassis form .row .group:last-child {
          margin-right: 0; }
      .chassis form .row .group {
        padding: 0.48751em 1em;
        padding: 0; }
        .chassis form .row .group .field {
          margin: 0; } }

.chassis .modal {
  align-self: center;
  width: 61.8vw;
  min-width: 320px;
  max-width: calc(1440px - 12.36vw);
  max-height: 100vh;
  overflow: auto;
  z-index: 999;
  background: white; }

.chassis chassis-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  background-blend-mode: normal;
  z-index: 996; }

.chassis table {
  table-layout: fixed;
  margin: 0 0 1.57761em 0;
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0; }
  .chassis table th,
  .chassis table td {
    padding: 0.48751em 0.7888em;
    line-height: 1.57761em;
    overflow: hidden;
    vertical-align: top;
    text-align: left;
    text-overflow: ellipsis; }
  .chassis table caption {
    font-weight: 700;
    text-align: left; }
  .chassis table thead {
    border-bottom: 3px solid #dadbdd; }
  .chassis table tfoot {
    border-top: 3px solid #dadbdd; }
  .chassis table tbody tr td {
    border-bottom: 1px solid #dadbdd; }
  .chassis table tbody tr:last-child td {
    border-bottom: 0; }

.chassis .tag {
  display: inline-block;
  padding: 0 0.7888em;
  line-height: 2.55263em;
  background: #a9aaae;
  border-radius: 0.24063em;
  border: none;
  outline: none;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: white; }
  @media screen and (max-width: 511px) {
    .chassis .tag {
      font-size: 12px;
      line-height: 21px; } }
  @media screen and (min-width: 512px) and (max-width: 767px) {
    .chassis .tag {
      font-size: 13px;
      line-height: 24px; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .chassis .tag {
      font-size: 13px;
      line-height: 26px; } }
  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    .chassis .tag {
      font-size: 14px;
      line-height: 28px; } }
  @media screen and (min-width: 1200px) {
    .chassis .tag {
      font-size: 15px;
      line-height: 31px; } }

.chassis .toolbar {
  flex: 1 0 auto;
  display: flex;
  align-self: baseline;
  background: #ededed; }
  .chassis .toolbar .dropdown-menu {
    display: block;
    flex: 0 1 auto; }
    .chassis .toolbar .dropdown-menu header {
      background: #ededed;
      padding: 0 0.7888em;
      line-height: 2.55263em; }
    .chassis .toolbar .dropdown-menu nav,
    .chassis .toolbar .dropdown-menu menu,
    .chassis .toolbar .dropdown-menu .menu {
      background: #ededed;
      padding: 0.48751em 1em; }
    .chassis .toolbar .dropdown-menu:hover header {
      background: #e2e3e5; }

.showroom {
  padding-bottom: 3.618em; }
  .showroom > header {
    padding: 1.46em 0 .90169942em;
    border-bottom: 4px solid #ededed; }
    @media screen and (min-width: 768px) {
      .showroom > header {
        padding-top: 2.36em; }
        .showroom > header .width-constraint {
          display: flex; } }
    .showroom > header h1 {
      flex: 1;
      margin: 0;
      color: #a9aaae; }
      @media screen and (max-width: 511px) {
        .showroom > header h1 {
          font-size: 19px;
          line-height: 28px; } }
      @media screen and (min-width: 512px) and (max-width: 767px) {
        .showroom > header h1 {
          font-size: 20px;
          line-height: 31px; } }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .showroom > header h1 {
          font-size: 22px;
          line-height: 34px; } }
      @media screen and (min-width: 1024px) and (max-width: 1199px) {
        .showroom > header h1 {
          font-size: 23px;
          line-height: 36px; } }
      @media screen and (min-width: 1200px) {
        .showroom > header h1 {
          font-size: 24px;
          line-height: 38px; } }
    .showroom > header .links {
      display: flex;
      align-items: center; }
      .showroom > header .links a {
        margin-left: 1em; }
        .showroom > header .links a:first-child {
          margin-left: 0; }
  .showroom .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: none;
    visibility: hidden;
    opacity: 0;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .showroom .sidebar {
        display: block;
        visibility: visible;
        opacity: 1;
        flex: 0 0 25%;
        margin: 0 0 1.57761em 0; } }
    .showroom .sidebar nav a {
      display: block;
      padding: 0 0.7888em;
      line-height: 2.55263em; }
      .showroom .sidebar nav a:not(:first-child) {
        box-shadow: 0 -1px 0 0 #dadbdd; }
      .showroom .sidebar nav a:hover {
        box-shadow: none;
        background: #00a2f5;
        color: white;
        text-decoration: none; }
        .showroom .sidebar nav a:hover + a {
          box-shadow: none; }
      .showroom .sidebar nav a:active {
        background: #0091dc; }
  .showroom .content {
    flex: 0 0 75%; }
    @media screen and (min-width: 768px) {
      .showroom .content {
        padding: 0 0 0 3.82vw; } }
    .showroom .content > section h1 {
      box-shadow: inset 0 -1px 0 0 #d1d2d4; }
    @media screen and (max-width: 511px) {
      .showroom .content > section.table {
        display: block; }
        .showroom .content > section.table thead,
        .showroom .content > section.table tbody,
        .showroom .content > section.table tfoot,
        .showroom .content > section.table tr,
        .showroom .content > section.table td,
        .showroom .content > section.table th {
          display: block; }
        .showroom .content > section.table tbody tr:last-child td:not(:last-child) {
          border-bottom: 1px solid #dadbdd; } }
    .showroom .content > section.table th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .showroom .content > section.buttons .button.outlined {
      display: inline-block;
      margin: 0 0.7888em 1.57761em 0;
      padding: 0 0.7888em;
      line-height: 2.55263em;
      background: white;
      border-radius: 0.24063em;
      border: none;
      outline: none;
      box-shadow: inset 0 0 0 2px #bcbdc1;
      vertical-align: middle;
      font-family: Malva;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      color: #77787c;
      cursor: pointer; }
      .showroom .content > section.buttons .button.outlined:visited {
        background: white;
        box-shadow: inset 0 0 0 2px #bcbdc1;
        font-family: Malva;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: #77787c; }
      .showroom .content > section.buttons .button.outlined:hover {
        background: #e2e3e5;
        font-family: Malva;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: #444444; }
      .showroom .content > section.buttons .button.outlined:active {
        background: #dadbdd;
        font-family: Malva;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: #444444; }
      .showroom .content > section.buttons .button.outlined.disabled {
        opacity: 0.382; }
      .showroom .content > section.buttons .button.outlined:focus {
        outline: none; }
    .showroom .content > section.buttons .button.with-shadow {
      display: inline-block;
      margin: 0 0.7888em 1.57761em 0;
      padding: 0 0.7888em;
      line-height: 2.55263em;
      background: #0098e6;
      border-radius: 0.24063em;
      border: none;
      outline: none;
      box-shadow: 0 3px 3px 0 #a9aaae;
      vertical-align: middle;
      font-family: Malva;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      color: white;
      cursor: pointer; }
      .showroom .content > section.buttons .button.with-shadow:visited {
        background: #0098e6;
        box-shadow: 0 3px 3px 0 #a9aaae;
        font-family: Malva;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: white; }
      .showroom .content > section.buttons .button.with-shadow:hover {
        background: #00a2f5;
        font-family: Malva;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: white; }
      .showroom .content > section.buttons .button.with-shadow:active {
        background: #0091dc;
        font-family: Malva;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: white; }
      .showroom .content > section.buttons .button.with-shadow.disabled {
        opacity: 0.382; }
      .showroom .content > section.buttons .button.with-shadow:focus {
        outline: none; }
    .showroom .content > section.buttons .button.beveled {
      display: inline-block;
      margin: 0 0.7888em 1.57761em 0;
      padding: 0 0.7888em;
      line-height: 2.55263em;
      background: linear-gradient(to bottom, #ededed 0%, #d1d2d4 100%);
      border-radius: 0.24063em;
      border: none;
      outline: none;
      box-shadow: inset 0 -2px 0 0 #bcbdc1;
      vertical-align: middle;
      font-family: Malva;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      color: #4c4d4f;
      cursor: pointer;
      text-shadow: 1px 1px 2px white; }
      .showroom .content > section.buttons .button.beveled:visited {
        background: linear-gradient(to bottom, #ededed 0%, #d1d2d4 100%);
        box-shadow: inset 0 -2px 0 0 #bcbdc1;
        font-family: Malva;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: #4c4d4f; }
      .showroom .content > section.buttons .button.beveled:hover {
        background: linear-gradient(to bottom, #e2e3e5 0%, #bcbdc1 100%);
        box-shadow: inset 0 -2px 0 0 #a9aaae;
        font-family: Malva;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: #2c2d30; }
      .showroom .content > section.buttons .button.beveled:active {
        background: linear-gradient(to bottom, #bcbdc1 0%, #e2e3e5 100%);
        box-shadow: inset 0 2px 0 0 #a9aaae;
        font-family: Malva;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: #2c2d30; }
      .showroom .content > section.buttons .button.beveled.disabled {
        opacity: 0.382; }
      .showroom .content > section.buttons .button.beveled:focus {
        outline: none; }
    .showroom .content > section.buttons .button.green {
      background: #68bb12; }
      .showroom .content > section.buttons .button.green:hover {
        background: #6dc413; }
      .showroom .content > section.buttons .button.green:active {
        background: #63b211; }
    .showroom .content > section.flex-tiles .tiles {
      margin: 0 0 1.57761em 0;
      counter-reset: CHASSIS_FLEX_TILE_COUNTER;
      display: block;
      padding: 1em 1em 0;
      border: 1px solid #d1d2d4; }
      .showroom .content > section.flex-tiles .tiles > * {
        counter-increment: CHASSIS_FLEX_TILE_COUNTER; }
      @media screen and (min-width: 512px) {
        .showroom .content > section.flex-tiles .tiles {
          counter-reset: CHASSIS_FLEX_TILE_COUNTER;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; }
          .showroom .content > section.flex-tiles .tiles > * {
            counter-increment: CHASSIS_FLEX_TILE_COUNTER; }
          .showroom .content > section.flex-tiles .tiles > * {
            overflow: hidden;
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 0.5em 1em;
            background-clip: content-box !important; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(0n), .showroom .content > section.flex-tiles .tiles > *:nth-child(0n):last-child {
              padding-right: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(0n + 1) {
              padding-left: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:last-child:nth-child(2n) {
              padding-right: 0; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(2n) {
              padding-right: 0; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(2n + 1), .showroom .content > section.flex-tiles .tiles > *:first-child:not(:only-child) {
              padding-left: 0; }
            .showroom .content > section.flex-tiles .tiles > *:only-child, .showroom .content > section.flex-tiles .tiles > *:nth-child(-n+1), .showroom .content > section.flex-tiles .tiles > *:first-child:nth-last-child(-n+1) {
              padding-left: 0.5em;
              margin-left: auto;
              margin-right: auto; } }
      @media screen and (min-width: 768px) {
        .showroom .content > section.flex-tiles .tiles {
          counter-reset: CHASSIS_FLEX_TILE_COUNTER;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; }
          .showroom .content > section.flex-tiles .tiles > * {
            counter-increment: CHASSIS_FLEX_TILE_COUNTER; }
          .showroom .content > section.flex-tiles .tiles > * {
            overflow: hidden;
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
            padding: 0 0.5em 1em;
            background-clip: content-box !important; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(0n), .showroom .content > section.flex-tiles .tiles > *:nth-child(0n):last-child {
              padding-right: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(0n + 1) {
              padding-left: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(1n), .showroom .content > section.flex-tiles .tiles > *:nth-child(1n):last-child {
              padding-right: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(1n + 1) {
              padding-left: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:last-child:nth-child(3n) {
              padding-right: 0; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(3n) {
              padding-right: 0; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(3n + 1), .showroom .content > section.flex-tiles .tiles > *:first-child:not(:only-child) {
              padding-left: 0; }
            .showroom .content > section.flex-tiles .tiles > *:only-child, .showroom .content > section.flex-tiles .tiles > *:nth-child(-n+2), .showroom .content > section.flex-tiles .tiles > *:first-child:nth-last-child(-n+2) {
              padding-left: 0.5em;
              margin-left: auto;
              margin-right: auto; } }
      @media screen and (min-width: 1200px) {
        .showroom .content > section.flex-tiles .tiles {
          counter-reset: CHASSIS_FLEX_TILE_COUNTER;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; }
          .showroom .content > section.flex-tiles .tiles > * {
            counter-increment: CHASSIS_FLEX_TILE_COUNTER; }
          .showroom .content > section.flex-tiles .tiles > * {
            overflow: hidden;
            flex: 0 0 25%;
            max-width: 25%;
            padding: 0 0.5em 1em;
            background-clip: content-box !important; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(0n), .showroom .content > section.flex-tiles .tiles > *:nth-child(0n):last-child {
              padding-right: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(0n + 1) {
              padding-left: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(1n), .showroom .content > section.flex-tiles .tiles > *:nth-child(1n):last-child {
              padding-right: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(1n + 1) {
              padding-left: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(2n), .showroom .content > section.flex-tiles .tiles > *:nth-child(2n):last-child {
              padding-right: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(2n + 1) {
              padding-left: 0.5em; }
            .showroom .content > section.flex-tiles .tiles > *:last-child:nth-child(4n) {
              padding-right: 0; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(4n) {
              padding-right: 0; }
            .showroom .content > section.flex-tiles .tiles > *:nth-child(4n + 1), .showroom .content > section.flex-tiles .tiles > *:first-child:not(:only-child) {
              padding-left: 0; }
            .showroom .content > section.flex-tiles .tiles > *:only-child, .showroom .content > section.flex-tiles .tiles > *:nth-child(-n+3), .showroom .content > section.flex-tiles .tiles > *:first-child:nth-last-child(-n+3) {
              padding-left: 0.5em;
              margin-left: auto;
              margin-right: auto; } }
      .showroom .content > section.flex-tiles .tiles .tile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.82em;
        margin-bottom: 1em;
        background: #ededed; }
        @media screen and (min-width: 512px) {
          .showroom .content > section.flex-tiles .tiles .tile {
            height: 6.18em;
            margin-bottom: 0; } }
        .showroom .content > section.flex-tiles .tiles .tile:before {
          content: "Tile " counter(CHASSIS_FLEX_TILE_COUNTER);
          display: block; }
    .showroom .content > section.tags .tag.cool {
      display: inline-block;
      padding: 0 0.7888em;
      line-height: 2.55263em;
      background: #68bb12;
      border-radius: 0.24063em;
      border: none;
      outline: none;
      vertical-align: middle;
      font-family: Malva;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      color: white; }
      @media screen and (max-width: 511px) {
        .showroom .content > section.tags .tag.cool {
          font-size: 12px;
          line-height: 21px; } }
      @media screen and (min-width: 512px) and (max-width: 767px) {
        .showroom .content > section.tags .tag.cool {
          font-size: 13px;
          line-height: 24px; } }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .showroom .content > section.tags .tag.cool {
          font-size: 13px;
          line-height: 26px; } }
      @media screen and (min-width: 1024px) and (max-width: 1199px) {
        .showroom .content > section.tags .tag.cool {
          font-size: 14px;
          line-height: 28px; } }
      @media screen and (min-width: 1200px) {
        .showroom .content > section.tags .tag.cool {
          font-size: 15px;
          line-height: 31px; } }
    .showroom .content > section.modals .open.button {
      margin-bottom: 0; }
      @media screen and (max-width: 511px) {
        .showroom .content > section.modals .open.button {
          display: block;
          margin-right: 0; } }
    .showroom .content pre.code {
      margin: 0 0 1.57761em 0;
      padding: 0.48751em 1em;
      background: #fafafa;
      box-shadow: 0 0 0 1px #d1d2d4;
      border-radius: 0 0.24063em 0.24063em 0;
      font-family: Consolas, Courier New, monospace;
      white-space: pre-wrap;
      word-wrap: break-word; }
      .showroom .content pre.code:before {
        display: block;
        color: #a9aaae; }
      .showroom .content pre.code.html:before {
        content: 'HTML:'; }
      .showroom .content pre.code.sass:before {
        content: 'SASS:'; }
      .showroom .content pre.code.javascript:before {
        content: 'JavaScript:'; }
  .showroom > footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 0;
    background: white;
    box-shadow: inset 0 1px 0 0 #a9aaae;
    text-align: center; }
    .showroom > footer .label {
      font-weight: 700; }
    .showroom > footer .range {
      display: none;
      visibility: hidden;
      opacity: 0; }
      @media screen and (max-width: 319px) {
        .showroom > footer .range.below-min {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 320px) and (max-width: 511px) {
        .showroom > footer .range.tiny {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 512px) and (max-width: 767px) {
        .showroom > footer .range.small {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .showroom > footer .range.medium {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 1024px) and (max-width: 1199px) {
        .showroom > footer .range.large {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 1200px) and (max-width: 1440px) {
        .showroom > footer .range.huge {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 1441px) {
        .showroom > footer .range.above-max {
          display: inline;
          visibility: visible;
          opacity: 1; } }
  .showroom .modal {
    padding: 1.618em;
    border-radius: 0.24063em; }
    .showroom .modal footer {
      text-align: right; }
      .showroom .modal footer .button {
        margin-bottom: 0; }
        .showroom .modal footer .button:last-child {
          margin-right: 0; }

main {
  width: 100%;
  min-width: 320px !important;
  max-width: 1440px !important;
  margin: 0 auto;
  padding-left: 6.18vw;
  padding-right: 6.18vw;
  padding-top: 2em; }
  @media screen and (max-width: 320px) {
    main {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 1440px) {
    main {
      padding-left: 89px;
      padding-right: 89px; } }
  @media screen and (min-width: 768px) {
    main {
      display: flex;
      align-items: flex-start;
      padding-top: 3.82em; } }
