@charset "UTF-8";
/** @function chassis-get-z-index
 * @param {string} $key
 * Name of element from $CHASSIS_Z-INDEX_DEFAULTS map
 * found in chassis-sass ./config/z-index
 */
/*

Viewport Width-specific styles can be applied in 5 different ways:

  1. Targeting all Viewport Width Ranges below the specified range:

    ```SASS
    @include below-viewport-width(medium) {
      -- your styles --
    }
    ```

    This will target viewport widths below, but not including, the lower bound
    of the "medium" Viewport Width Range

    By default, the above code would affect viewports 0px - 767px wide:
    ✓ below minimum UI
    ✓ tiny
    ✓ small
    ✘ medium
    ✘ large
    ✘ huge
    ✘ above maximum UI width

 2. Targeting all Viewport Width Ranges up to, and including, the specified range:

    ```SASS
    @include max-viewport-width(medium) {
      -- your styles --
    }
    ```

    This will target viewport widths below, but not including, the upper bound
    of the "medium" Viewport Width Range

    By default, the above code would affect viewports 0px - 1023px wide:
    ✓ below minimum UI width
    ✓ tiny
    ✓ small
    ✓ medium
    ✘ large
    ✘ huge
    ✘ above maximum UI width

 3. Targeting a viewport-width range directly:

    ```SASS
    @include at-viewport-width(medium) {
      -- your styles --
    }
    ```

    This will target viewport widths at or above the lower bound, and below (but
    not including) the upper bound of the "medium" Viewport Width Range

    By default, the above code would affect viewports 768px - 1023px wide:
    ✘ below minimum UI
    ✘ tiny
    ✘ small
    ✓ medium
    ✘ large
    ✘ huge
    ✘ above maximum UI width

 4. Targeting all Viewport Width Ranges starting with the specified range and up:

    ```SASS
    @include min-viewport-width(medium) {
      -- your styles --
    }
    ```

    This will target viewport widths at or above the lower bound of the
    "medium" Viewport Width Range

    By default, the above code would affect viewports 768px - infinite wide:
    ✘ below minimum UI
    ✘ tiny
    ✘ small
    ✓ medium
    ✓ large
    ✓ huge
    ✓ above maximum UI width

 5. Targeting all Viewport Width Ranges above, but not including, the specified
    range:

    ```SASS
    @include above-viewport-width(medium) {
      -- your styles --
    }
    ```

    This will target viewport widths above the upper bound of the "medium"
    Viewport Width Range

    By default, the above code would affect viewports 1025px - infinite wide:
    ✘ below minimum UI
    ✘ tiny
    ✘ small
    ✘ medium
    ✓ large
    ✓ huge
    ✓ above maximum UI width

*/
/**
 * @mixin below-viewport-width()
 * Apply styling only at viewport widths below, but not including, the lower
 * bound of the specified range
 * @param {map-key} $specified-range
 * from ./config/breakpoints or custom theme file
 */
/**
 * @mixin max-viewport-width()
 * Apply styling only at viewport widths below, but not including, the upper
 * bound of the specified range
 * @param {map-key} $specified-range
 * from ./config/breakpoints or custom theme file
 */
/**
 * @mixin at-viewport-width()
 * Apply styling only at viewport widths at or above the lower bound
 * and below, but not including, the upper bound of the specified range
 * @param {map-key} $specified-range
 * from ./config/breakpoints or custom theme file
 */
/** @mixin min-viewport-width()
 * Apply styling only at viewport widths at or above the lower bound of the
 * specified range
 * @param {map-key} $specified-range
 * from ./config/breakpoints or custom theme file
 */
/**
 * @mixin above-viewport-width()
 * Apply styling only at viewport widths above the upper bound of the
 * specified range
 * @param {map-key} $specified-range
 * from ./config/breakpoints or custom theme file
 */
.chassis .button,
.chassis a.button,
.chassis button, .showroom main .content > section.buttons .custom-button, .showroom main .content > section.buttons .button.outlined, .showroom main .content > section.buttons .button.with-shadow, .showroom main .content > section.buttons .button.beveled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.chassis a.disabled, .chassis .disabled.button,
.chassis button.disabled, .showroom main .content > section.buttons .disabled.custom-button, .showroom main .content > section.buttons .button.outlined.disabled, .showroom main .content > section.buttons .button.with-shadow.disabled, .showroom main .content > section.buttons .button.beveled.disabled {
  pointer-events: none; }

/**
 * @function get-optimal-line-dimensions
 * Return optimized line-height and width based on font-size and type-scale-ratio
 * @param {px} $font-size
 * @param {int} $ratio
 * Type scale ratio
 */
/**
 * @function calculate-line-height
 * Returns adjusted line-height for a particular font-size and viewport-width-range
 * @param {px} $font-size
 * @param {px} $upper-bound
 * viewport-width-range upper bound
 */
/**
 * @mixin global-typography-rules
 * Generate default typography rules for standard elements
 * This mixin is used in the chassis-sass core package to establish typography
 * rules at each breakpoint
 * @param {var} $upper-bound
 * Upper Bound of the current viewport-width-range
 */
/**
 * @mixin font-size
 * Sets font-size and line-height, and optionally margin-bottom, on an element
 * based on Golden Ratio Typography rules, in ems
 * @param {string} $alias
 * Name of font-size alias (as defined in ./definitions)
 * @param {int} $multiplier
 * Integer to multiply calculated property values by
 * @param {bool} $has-margin
 * Determines whether or not to add a calculated bottom-margin property
 */
/**
 * @mixin inline-layout-rules
 * Sets margin, padding, and line-height on inline elements that are not just
 * plain text, ie buttons, form fields, tags, etc.
 * Values are calculated in ems using Golden Ratio Typography rules
 * @param {string} $alias
 * Default font-size category for this element
 * @param {bool} $has-padding
 * Determines whether or not to output padding rules
 * @param {bool} $has-margin
 * Determines whether or not to output margin rules
 * @param {bool} $multi-line
 * If element displays inline but can contain multiple lines of text within 
 * itself, like a textarea or contenteditable, set this to true. This will 
 * ensure correct line-height.
 */
/**
 * @mixin block-layout-rules
 * Sets margin, padding, and line-height on block elements
 * Values are calculated in ems using Golden Ratio Typography rules
 * @param {bool} $has-padding
 * Determines whether or not to output padding rules
 * @param {bool} $has-margin
 * Determines whether or not to output margin rules
 */
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav,
section, summary {
  display: block; }

input,
textarea,
button {
  font-size: inherit; }

.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important; }

.width-constraint {
  width: 100%;
  min-width: 320px !important;
  max-width: 1440px !important;
  margin: 0 auto;
  padding-left: 6.18vw;
  padding-right: 6.18vw; }
  @media screen and (max-width: 320px) {
    .width-constraint {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 1440px) {
    .width-constraint {
      padding-left: 89px;
      padding-right: 89px; } }

.chassis {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px; }
  .chassis h1 {
    font-size: 1.6em;
    line-height: 1.41667em;
    margin-bottom: 0.87555em; }
  .chassis h2 {
    font-size: 1.26667em;
    line-height: 1.16667em;
    margin-bottom: 0.91079em; }
  .chassis h3 {
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 0.98885em; }
  .chassis h4 {
    font-size: 0.8em;
    line-height: 0.875em;
    margin-bottom: 1.08156em; }
  .chassis h5 {
    font-size: 0.8em;
    line-height: 0.875em;
    margin-bottom: 1.08156em; }
  .chassis h6 {
    font-size: 0.8em;
    line-height: 0.875em;
    margin-bottom: 1.08156em; }
  .chassis legend {
    font-size: 1.26667em;
    line-height: 1.16667em;
    margin-bottom: 0.91079em; }
  .chassis section,
  .chassis nav,
  .chassis form {
    margin-bottom: 2.58885em; }
  .chassis nav section,
  .chassis section nav,
  .chassis nav nav,
  .chassis article,
  .chassis fieldset,
  .chassis figure,
  .chassis pre,
  .chassis blockquote,
  .chassis table,
  .chassis canvas,
  .chassis embed {
    margin-bottom: 1.6em; }
  .chassis p {
    margin-bottom: 1em; }
  @media screen and (min-width: 512px) and (max-width: 767px) {
    .chassis {
      font-size: 16px;
      line-height: 27px; }
      .chassis h1 {
        font-size: 1.625em;
        line-height: 1.40741em; }
      .chassis h2 {
        font-size: 1.25em;
        line-height: 1.14815em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.8125em;
        line-height: 0.88889em; }
      .chassis h5 {
        font-size: 0.8125em;
        line-height: 0.88889em; }
      .chassis h6 {
        font-size: 0.8125em;
        line-height: 0.88889em; }
      .chassis legend {
        font-size: 1.25em;
        line-height: 1.14815em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.73043em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.6875em; }
      .chassis p {
        margin-bottom: 1em; }
      .chassis input,
      .chassis textarea {
        font-size: 16px; }
      .chassis textarea {
        line-height: 27px; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .chassis {
      font-size: 17px;
      line-height: 29px; }
      .chassis h1 {
        font-size: 1.64706em;
        line-height: 1.41379em; }
      .chassis h2 {
        font-size: 1.29412em;
        line-height: 1.17241em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.76471em;
        line-height: 0.89655em; }
      .chassis h5 {
        font-size: 0.76471em;
        line-height: 0.89655em; }
      .chassis h6 {
        font-size: 0.76471em;
        line-height: 0.89655em; }
      .chassis legend {
        font-size: 1.29412em;
        line-height: 1.17241em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.76018em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.70588em; }
      .chassis p {
        margin-bottom: 1em; }
      .chassis input,
      .chassis textarea {
        font-size: 17px; }
      .chassis textarea {
        line-height: 29px; } }
  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    .chassis {
      font-size: 18px;
      line-height: 31px; }
      .chassis h1 {
        font-size: 1.61111em;
        line-height: 1.3871em; }
      .chassis h2 {
        font-size: 1.27778em;
        line-height: 1.16129em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.77778em;
        line-height: 0.90323em; }
      .chassis h5 {
        font-size: 0.77778em;
        line-height: 0.90323em; }
      .chassis h6 {
        font-size: 0.77778em;
        line-height: 0.90323em; }
      .chassis legend {
        font-size: 1.27778em;
        line-height: 1.16129em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.78661em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.72222em; }
      .chassis p {
        margin-bottom: 1em; }
      .chassis input,
      .chassis textarea {
        font-size: 18px; }
      .chassis textarea {
        line-height: 31px; } }
  @media screen and (min-width: 1200px) {
    .chassis {
      font-size: 19px;
      line-height: 34px; }
      .chassis h1 {
        font-size: 1.63158em;
        line-height: 1.35294em; }
      .chassis h2 {
        font-size: 1.26316em;
        line-height: 1.11765em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.78947em;
        line-height: 0.91176em; }
      .chassis h5 {
        font-size: 0.78947em;
        line-height: 0.91176em; }
      .chassis h6 {
        font-size: 0.78947em;
        line-height: 0.91176em; }
      .chassis legend {
        font-size: 1.26316em;
        line-height: 1.11765em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.89543em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.78947em; }
      .chassis p {
        margin-bottom: 1em; }
      .chassis input,
      .chassis textarea {
        font-size: 19px; }
      .chassis textarea {
        line-height: 34px; } }

/**
 * @mixin chassis-default-rule
 * Apply CSS property value if it is specified in passed-in component defs map
 * Otherwise, use default value
 * @param {string} $property
 * CSS Property Name
 * @param {map} $settings
 * Passed-in component defs map
 * @param {string} $key
 * Property key name in $settings map
 * @param {var or string} $default-value
 * Default theme fallback value
 */
/**
 * @mixin chassis-pseudo-class-rule
 * Apply CSS property value to a pseudo-class if it is specified in passed-in 
 * component defs map, and is different from the default property value
 * Otherwise, use default value
 * @param {string} $property
 * CSS Property Name
 * @param {map} $default-settings
 * Passed-in component defs 'default' map
 * @param {map} $custom-settings
 * Passed-in component defs pseudo-class map
 * @param {string} $key
 * Property key name in $settings map
 * @param {var or string} $default-value
 * Default theme fallback value
 */
/**
 * @mixin chassis-generate-box-shadow
 * Generate box-shadow property from list and apply border-properties
 * This allows borders to be created using box-shadow instead of border property
 * @param {map} $defs
 * Passed-in component defs map
 * @param {var or string} $default-border-thickness
 * Detailer default theme border-thickness var or custom string
 * @param {var or string} $default-border-color
 * Detailer default theme border-color var or custom string
 * @param {var or string} $default-box-shadow
 * Detailer default theme box-shadow var or custom string
 */
html {
  background: white; }

.chassis {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  font-variant: normal;
  font-variant: normal;
  color: #444444; }
  .chassis a {
    text-decoration: none;
    text-transform: none;
    color: #0098e6; }
    .chassis a:hover {
      text-decoration: underline;
      color: #0091dc; }
    .chassis a:active {
      text-decoration: initial;
      color: #009ff0; }
    .chassis a.disabled {
      text-decoration: initial;
      color: #bcbdc1; }
  .chassis h1 {
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  .chassis h2 {
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  .chassis h3 {
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  .chassis h4 {
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  .chassis h5 {
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  .chassis h6 {
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }

/**
 * @mixin chassis-button
 * @param {map} $settings
 * $settings MUST contain a "default" map
 */
.chassis .button,
.chassis a.button,
.chassis button, .showroom main .content > section.buttons .custom-button {
  display: inline-block;
  margin: 0 0.7888em 1.57761em 0;
  padding: 0 0.7888em;
  line-height: 2.55263em;
  background: #0098e6;
  border-radius: 0.24063em;
  border: none;
  outline: none;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: white;
  cursor: pointer; }
  .chassis .button:visited,
  .chassis button:visited, .showroom main .content > section.buttons .custom-button:visited { }
  .chassis .button:hover,
  .chassis button:hover, .showroom main .content > section.buttons .custom-button:hover {
    background: #00a2f5; }
  .chassis .button:active,
  .chassis button:active, .showroom main .content > section.buttons .custom-button:active {
    background: #0091dc; }
  .chassis .disabled.button,
  .chassis button.disabled, .showroom main .content > section.buttons .disabled.custom-button {
    opacity: 0.382; }
  .chassis .button:focus,
  .chassis button:focus, .showroom main .content > section.buttons .custom-button:focus {
    outline: none; }

.chassis form > *:last-child,
.chassis form fieldset > *:last-child {
  margin-bottom: 0; }

.chassis form legend {
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none; }

.chassis form .field {
  margin: 0 0 1.57761em 0; }
  .chassis form .field .input {
    display: flex; }
    .chassis form .field .input input:not([type='checkbox']):not([type='radio']),
    .chassis form .field .input textarea {
      margin: 0 0.7888em 1.57761em 0;
      padding: 0 0.7888em;
      line-height: 2.55263em;
      flex: 1 1 auto;
      width: 0;
      max-width: 100%;
      margin-bottom: 0; }
      .chassis form .field .input input:not([type='checkbox']):not([type='radio']):last-child,
      .chassis form .field .input textarea:last-child {
        margin-right: 0; }
    .chassis form .field .input *::-ms-backdrop,
    .chassis form .field .input input:not([type='checkbox']):not([type='radio']) {
      min-height: 2.61803em; }
    .chassis form .field .input *::-ms-backdrop,
    .chassis form .field .input textarea {
      min-height: 7.85409em; }
    .chassis form .field .input .button {
      margin-bottom: 0; }
      .chassis form .field .input .button:last-child {
        margin-right: 0; }
    .chassis form .field .input *:last-child {
      margin-right: 0; }
    .chassis form .field .input .browser {
      margin: 0 0.7888em 1.57761em 0;
      line-height: 2.55263em;
      display: flex;
      flex: 1 1 auto;
      margin-bottom: 0; }
      .chassis form .field .input .browser:last-child {
        margin-right: 0; }
      .chassis form .field .input .browser input:not([type="radio"]):not([type="checkbox"]) {
        flex: 1 1 auto;
        margin-right: 0;
        border-radius: 0; }
        .chassis form .field .input .browser input:not([type="radio"]):not([type="checkbox"]):first-child {
          border-radius: 0.24063em 0 0 0.24063em; }
      .chassis form .field .input .browser .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0.24063em 0.24063em 0;
        background: #dadbdd;
        color: #444444;
        box-shadow: inset -1px 0 0 0 #bcbdc1, inset 0 1px 0 0 #bcbdc1, inset 0 -1px 0 0 #bcbdc1; }
        .chassis form .field .input .browser .button:visited {
          background: #dadbdd; }
        .chassis form .field .input .browser .button:hover {
          background: #e2e3e4; }
        .chassis form .field .input .browser .button:active {
          background: #d5d6d8; }

.chassis form .group {
  margin: 0 0 1.57761em 0; }
  .chassis form .group .field {
    margin-bottom: 0; }

.chassis form .row {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.57761em 0; }
  .chassis form .row > *:last-child {
    margin-bottom: 0; }
  .chassis form .row .group {
    margin: 0 0 1.57761em 0; }
    .chassis form .row .group:last-child {
      margin-bottom: 0; }
    .chassis form .row .group .field {
      margin-bottom: 0; }
  @media screen and (min-width: 769px) {
    .chassis form .row {
      flex-direction: row; }
      .chassis form .row .field,
      .chassis form .row .group {
        flex: 1 1 50%;
        margin: 0 1em; }
        .chassis form .row .field:first-child,
        .chassis form .row .group:first-child {
          margin-left: 0; }
        .chassis form .row .field:last-child,
        .chassis form .row .group:last-child {
          margin-right: 0; }
      .chassis form .row .group {
        padding: 0.48751em 1em;
        padding: 0; }
        .chassis form .row .group .field {
          margin: 0; } }

.chassis label {
  display: block;
  cursor: pointer;
  font-weight: 500; }

.chassis input:not([type='checkbox']):not([type='radio']),
.chassis textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #444444;
  border: 0;
  outline: 0;
  background: white;
  border-radius: 0.24063em;
  box-shadow: inset 0.0236em 0.0618em 0.382em 0.0382em rgba(0, 0, 0, 0.118), inset 0 0 0 1px #bcbdc1; }
  .chassis input:not([type='checkbox']):not([type='radio']):focus,
  .chassis textarea:focus {
    outline: 0;
    box-shadow: inset 0 0 0 1px #0098e6; }

.chassis input:not([type='checkbox']):not([type='radio']) {
  margin: 0 0.7888em 1.57761em 0;
  padding: 0 0.7888em;
  line-height: 2.55263em; }

.chassis textarea {
  margin: 0 0.7888em 1.57761em 0;
  padding: 0.48751em 0.7888em;
  line-height: 1.57761em;
  overflow: auto;
  vertical-align: top;
  resize: none; }

.chassis input[type="checkbox"] + label,
.chassis input[type="radio"] + label {
  display: inline-block; }

.chassis button {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400; }

@media screen and (max-width: 511px) {
  .chassis button {
    display: block;
    width: 100%; } }

.chassis ::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

.chassis select[multiple] {
  vertical-align: top; }

.chassis .modal {
  align-self: center;
  width: 61.8vw;
  min-width: 320px;
  max-width: calc(1440px - 12.36vw);
  max-height: 100vh;
  overflow: auto;
  z-index: 999;
  background: white; }

.chassis chassis-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  background-blend-mode: normal;
  z-index: 997; }

/**
 * @mixin chassis-tag
 * @param {map} $settings
 * Map of themable properties
 * MUST contain a "default" map
 */
.chassis .tag {
  display: inline-block;
  padding: 0 0.7888em;
  line-height: 2.55263em;
  background: #a9aaae;
  border-radius: 0.24063em;
  border: none;
  outline: none;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: white; }
  @media screen and (max-width: 511px) {
    .chassis .tag {
      font-size: 12px;
      line-height: 21px; } }
  @media screen and (min-width: 512px) and (max-width: 767px) {
    .chassis .tag {
      font-size: 13px;
      line-height: 24px; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .chassis .tag {
      font-size: 13px;
      line-height: 26px; } }
  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    .chassis .tag {
      font-size: 14px;
      line-height: 28px; } }
  @media screen and (min-width: 1200px) {
    .chassis .tag {
      font-size: 15px;
      line-height: 31px; } }

/**
 * @mixin tiles
 * @param {int} $columns
 * Number of columns in grid
 * @param {px or em} $gutter-width
 * Amount of space between tiles
 */
.bold {
  font-weight: 600 !important; }

.showroom {
  padding-bottom: 3.618em; }
  .showroom > header {
    padding: 1.46em 0 .90169942em;
    border-bottom: 4px solid #ededed; }
    @media screen and (min-width: 768px) {
      .showroom > header {
        padding-top: 2.36em; }
        .showroom > header .width-constraint {
          display: flex; } }
    .showroom > header h1 {
      flex: 1;
      margin: 0;
      color: #a9aaae; }
      @media screen and (max-width: 511px) {
        .showroom > header h1 {
          font-size: 19px;
          line-height: 28px; } }
      @media screen and (min-width: 512px) and (max-width: 767px) {
        .showroom > header h1 {
          font-size: 20px;
          line-height: 31px; } }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .showroom > header h1 {
          font-size: 22px;
          line-height: 34px; } }
      @media screen and (min-width: 1024px) and (max-width: 1199px) {
        .showroom > header h1 {
          font-size: 23px;
          line-height: 36px; } }
      @media screen and (min-width: 1200px) {
        .showroom > header h1 {
          font-size: 24px;
          line-height: 38px; } }
    .showroom > header .links {
      display: flex;
      align-items: center; }
      .showroom > header .links a {
        margin-left: 1em; }
        .showroom > header .links a:first-child {
          margin-left: 0; }
  .showroom main {
    width: 100%;
    min-width: 320px !important;
    max-width: 1440px !important;
    margin: 0 auto;
    padding-left: 6.18vw;
    padding-right: 6.18vw;
    padding-top: 2em; }
    @media screen and (max-width: 320px) {
      .showroom main {
        padding-left: 20px;
        padding-right: 20px; } }
    @media screen and (min-width: 1440px) {
      .showroom main {
        padding-left: 89px;
        padding-right: 89px; } }
    @media screen and (min-width: 768px) {
      .showroom main {
        display: flex;
        align-items: flex-start;
        padding-top: 3.82em; } }
    .showroom main .sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      display: none;
      visibility: hidden;
      opacity: 0;
      margin: 0; }
      @media screen and (min-width: 768px) {
        .showroom main .sidebar {
          display: block;
          visibility: visible;
          opacity: 1;
          flex: 1 0 25%;
          margin: 0 0 1.57761em 0; } }
      .showroom main .sidebar nav a {
        display: block;
        padding: 0 0.7888em;
        line-height: 2.55263em; }
        .showroom main .sidebar nav a:not(:first-child) {
          box-shadow: 0 -1px 0 0 #dadbdd; }
        .showroom main .sidebar nav a:hover {
          box-shadow: none;
          background: #00a2f5;
          color: white;
          text-decoration: none; }
          .showroom main .sidebar nav a:hover + a {
            box-shadow: none; }
        .showroom main .sidebar nav a:active {
          background: #0091dc; }
    @media screen and (min-width: 768px) {
      .showroom main .content {
        padding: 0 0 0 3.82vw; } }
    .showroom main .content > section h1 {
      box-shadow: inset 0 -1px 0 0 #d1d2d4; }
    .showroom main .content > section.buttons .button.outlined {
      display: inline-block;
      margin: 0 0.7888em 1.57761em 0;
      padding: 0 0.7888em;
      line-height: 2.55263em;
      background: white;
      border-radius: 0.24063em;
      border: none;
      outline: none;
      box-shadow: inset 0 0 0 2px #bcbdc1;
      vertical-align: middle;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      color: #77787c;
      cursor: pointer; }
      .showroom main .content > section.buttons .button.outlined:visited {
        box-shadow: inset 0 0 0 2px #bcbdc1;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none; }
      .showroom main .content > section.buttons .button.outlined:hover {
        background: #e2e3e5;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: #444444; }
      .showroom main .content > section.buttons .button.outlined:active {
        background: #dadbdd;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: #444444; }
      .showroom main .content > section.buttons .button.outlined.disabled {
        opacity: 0.382; }
      .showroom main .content > section.buttons .button.outlined:focus {
        outline: none; }
    .showroom main .content > section.buttons .button.with-shadow {
      display: inline-block;
      margin: 0 0.7888em 1.57761em 0;
      padding: 0 0.7888em;
      line-height: 2.55263em;
      background: #0098e6;
      border-radius: 0.24063em;
      border: none;
      outline: none;
      box-shadow: 0 3px 3px 0 #a9aaae;
      vertical-align: middle;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      color: white;
      cursor: pointer; }
      .showroom main .content > section.buttons .button.with-shadow:visited {
        background: #0098e6;
        box-shadow: 0 3px 3px 0 #a9aaae;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: white; }
      .showroom main .content > section.buttons .button.with-shadow:hover {
        background: #00a2f5;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: white; }
      .showroom main .content > section.buttons .button.with-shadow:active {
        background: #0091dc;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: white; }
      .showroom main .content > section.buttons .button.with-shadow.disabled {
        opacity: 0.382; }
      .showroom main .content > section.buttons .button.with-shadow:focus {
        outline: none; }
    .showroom main .content > section.buttons .button.beveled {
      display: inline-block;
      margin: 0 0.7888em 1.57761em 0;
      padding: 0 0.7888em;
      line-height: 2.55263em;
      background: linear-gradient(to bottom, #ededed 0%, #d1d2d4 100%);
      border-radius: 0.24063em;
      border: none;
      outline: none;
      box-shadow: inset 0 -2px 0 0 #bcbdc1;
      vertical-align: middle;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      color: #4c4d4f;
      cursor: pointer;
      text-shadow: 1px 1px 2px white; }
      .showroom main .content > section.buttons .button.beveled:visited {
        box-shadow: inset 0 -2px 0 0 #bcbdc1;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none; }
      .showroom main .content > section.buttons .button.beveled:hover {
        background: linear-gradient(to bottom, #e2e3e5 0%, #bcbdc1 100%);
        box-shadow: inset 0 -2px 0 0 #a9aaae;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: #2c2d30; }
      .showroom main .content > section.buttons .button.beveled:active {
        background: linear-gradient(to bottom, #bcbdc1 0%, #e2e3e5 100%);
        box-shadow: inset 0 2px 0 0 #a9aaae;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        text-transform: none;
        color: #2c2d30; }
      .showroom main .content > section.buttons .button.beveled.disabled {
        opacity: 0.382; }
      .showroom main .content > section.buttons .button.beveled:focus {
        outline: none; }
    .showroom main .content > section.buttons .button.green {
      background: #68bb12; }
      .showroom main .content > section.buttons .button.green:hover {
        background: #6dc413; }
      .showroom main .content > section.buttons .button.green:active {
        background: #63b211; }
    .showroom main .content > section.flex-tiles .tiles {
      margin: 0 0 1.57761em 0;
      counter-reset: CHASSIS_FLEX_TILE_COUNTER;
      display: block;
      padding: 1em 1em 0;
      border: 1px solid #d1d2d4; }
      .showroom main .content > section.flex-tiles .tiles > * {
        counter-increment: CHASSIS_FLEX_TILE_COUNTER; }
      @media screen and (min-width: 512px) {
        .showroom main .content > section.flex-tiles .tiles {
          counter-reset: CHASSIS_FLEX_TILE_COUNTER;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; }
          .showroom main .content > section.flex-tiles .tiles > * {
            counter-increment: CHASSIS_FLEX_TILE_COUNTER; }
          .showroom main .content > section.flex-tiles .tiles > * {
            overflow: hidden;
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 0.5em 1em;
            background-clip: content-box !important; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(0n), .showroom main .content > section.flex-tiles .tiles > *:nth-child(0n):last-child {
              padding-right: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(0n + 1) {
              padding-left: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:last-child:nth-child(2n) {
              padding-right: 0; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(2n) {
              padding-right: 0; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(2n + 1), .showroom main .content > section.flex-tiles .tiles > *:first-child:not(:only-child) {
              padding-left: 0; }
            .showroom main .content > section.flex-tiles .tiles > *:only-child, .showroom main .content > section.flex-tiles .tiles > *:nth-child(-n+1), .showroom main .content > section.flex-tiles .tiles > *:first-child:nth-last-child(-n+1) {
              padding-left: 0.5em;
              margin-left: auto;
              margin-right: auto; } }
      @media screen and (min-width: 768px) {
        .showroom main .content > section.flex-tiles .tiles {
          counter-reset: CHASSIS_FLEX_TILE_COUNTER;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; }
          .showroom main .content > section.flex-tiles .tiles > * {
            counter-increment: CHASSIS_FLEX_TILE_COUNTER; }
          .showroom main .content > section.flex-tiles .tiles > * {
            overflow: hidden;
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
            padding: 0 0.5em 1em;
            background-clip: content-box !important; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(0n), .showroom main .content > section.flex-tiles .tiles > *:nth-child(0n):last-child {
              padding-right: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(0n + 1) {
              padding-left: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(1n), .showroom main .content > section.flex-tiles .tiles > *:nth-child(1n):last-child {
              padding-right: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(1n + 1) {
              padding-left: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:last-child:nth-child(3n) {
              padding-right: 0; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(3n) {
              padding-right: 0; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(3n + 1), .showroom main .content > section.flex-tiles .tiles > *:first-child:not(:only-child) {
              padding-left: 0; }
            .showroom main .content > section.flex-tiles .tiles > *:only-child, .showroom main .content > section.flex-tiles .tiles > *:nth-child(-n+2), .showroom main .content > section.flex-tiles .tiles > *:first-child:nth-last-child(-n+2) {
              padding-left: 0.5em;
              margin-left: auto;
              margin-right: auto; } }
      @media screen and (min-width: 1200px) {
        .showroom main .content > section.flex-tiles .tiles {
          counter-reset: CHASSIS_FLEX_TILE_COUNTER;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; }
          .showroom main .content > section.flex-tiles .tiles > * {
            counter-increment: CHASSIS_FLEX_TILE_COUNTER; }
          .showroom main .content > section.flex-tiles .tiles > * {
            overflow: hidden;
            flex: 0 0 25%;
            max-width: 25%;
            padding: 0 0.5em 1em;
            background-clip: content-box !important; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(0n), .showroom main .content > section.flex-tiles .tiles > *:nth-child(0n):last-child {
              padding-right: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(0n + 1) {
              padding-left: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(1n), .showroom main .content > section.flex-tiles .tiles > *:nth-child(1n):last-child {
              padding-right: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(1n + 1) {
              padding-left: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(2n), .showroom main .content > section.flex-tiles .tiles > *:nth-child(2n):last-child {
              padding-right: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(2n + 1) {
              padding-left: 0.5em; }
            .showroom main .content > section.flex-tiles .tiles > *:last-child:nth-child(4n) {
              padding-right: 0; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(4n) {
              padding-right: 0; }
            .showroom main .content > section.flex-tiles .tiles > *:nth-child(4n + 1), .showroom main .content > section.flex-tiles .tiles > *:first-child:not(:only-child) {
              padding-left: 0; }
            .showroom main .content > section.flex-tiles .tiles > *:only-child, .showroom main .content > section.flex-tiles .tiles > *:nth-child(-n+3), .showroom main .content > section.flex-tiles .tiles > *:first-child:nth-last-child(-n+3) {
              padding-left: 0.5em;
              margin-left: auto;
              margin-right: auto; } }
      .showroom main .content > section.flex-tiles .tiles .tile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.82em;
        margin-bottom: 1em;
        background: #ededed; }
        @media screen and (min-width: 512px) {
          .showroom main .content > section.flex-tiles .tiles .tile {
            height: 6.18em;
            margin-bottom: 0; } }
        .showroom main .content > section.flex-tiles .tiles .tile:before {
          content: "Tile " counter(CHASSIS_FLEX_TILE_COUNTER);
          display: block; }
    .showroom main .content > section.tags .tag.cool {
      display: inline-block;
      padding: 0 0.7888em;
      line-height: 2.55263em;
      background: #68bb12;
      border-radius: 0.24063em;
      border: none;
      outline: none;
      vertical-align: middle;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      color: white; }
      @media screen and (max-width: 511px) {
        .showroom main .content > section.tags .tag.cool {
          font-size: 12px;
          line-height: 21px; } }
      @media screen and (min-width: 512px) and (max-width: 767px) {
        .showroom main .content > section.tags .tag.cool {
          font-size: 13px;
          line-height: 24px; } }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .showroom main .content > section.tags .tag.cool {
          font-size: 13px;
          line-height: 26px; } }
      @media screen and (min-width: 1024px) and (max-width: 1199px) {
        .showroom main .content > section.tags .tag.cool {
          font-size: 14px;
          line-height: 28px; } }
      @media screen and (min-width: 1200px) {
        .showroom main .content > section.tags .tag.cool {
          font-size: 15px;
          line-height: 31px; } }
    .showroom main .content > section.modals .open.button {
      margin-bottom: 0; }
      @media screen and (max-width: 511px) {
        .showroom main .content > section.modals .open.button {
          display: block;
          margin-right: 0; } }
    .showroom main .content pre.code {
      margin: 0 0 1.57761em 0;
      padding: 0.48751em 1em;
      background: #fafafa;
      box-shadow: 0 0 0 1px #d1d2d4;
      border-radius: 0 0.24063em 0.24063em 0;
      font-family: Consolas, Courier New, monospace;
      white-space: pre-wrap;
      word-wrap: break-word; }
      .showroom main .content pre.code:before {
        display: block;
        color: #a9aaae; }
      .showroom main .content pre.code.html:before {
        content: 'HTML:'; }
      .showroom main .content pre.code.sass:before {
        content: 'SASS:'; }
      .showroom main .content pre.code.javascript:before {
        content: 'JavaScript:'; }
  .showroom > footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 0;
    background: white;
    box-shadow: inset 0 1px 0 0 #a9aaae;
    text-align: center; }
    .showroom > footer .label {
      font-weight: bold; }
    .showroom > footer .range {
      display: none;
      visibility: hidden;
      opacity: 0; }
      @media screen and (max-width: 319px) {
        .showroom > footer .range.below-min {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 320px) and (max-width: 511px) {
        .showroom > footer .range.tiny {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 512px) and (max-width: 767px) {
        .showroom > footer .range.small {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .showroom > footer .range.medium {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 1024px) and (max-width: 1199px) {
        .showroom > footer .range.large {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 1200px) and (max-width: 1440px) {
        .showroom > footer .range.huge {
          display: inline;
          visibility: visible;
          opacity: 1; } }
      @media screen and (min-width: 1441px) {
        .showroom > footer .range.above-max {
          display: inline;
          visibility: visible;
          opacity: 1; } }
  .showroom .modal {
    padding: 1.618em;
    border-radius: 0.24063em; }
    .showroom .modal footer {
      text-align: right; }
      .showroom .modal footer .button {
        margin-bottom: 0; }
        .showroom .modal footer .button:last-child {
          margin-right: 0; }
