// Ocean Dark Theme
// :: Global -------------------------------------------------------------------

$root-bg-color : rgb(43,48,59);
$text-color    : rgb(143,161,179);


// :: Links --------------------------------------------------------------------

$link-color          : rgb(163,190,140);
$disabled-link-color : rgb(79,81,102);


// :: Headings -----------------------------------------------------------------

$h1-color         : rgb(239,241,245);
$h2-color         : rgb(239,241,245);
$h3-color         : rgb(239,241,245);
$h4-color         : rgb(239,241,245);
$h5-color         : rgb(239,241,245);
$h6-color         : rgb(239,241,245);


// :: Buttons ------------------------------------------------------------------

$default-button-text-color       : rgb(255,255,255);
$default-button-bg-color         : rgb(191,97,106);

$default-button-has-border       : false;
$default-button-border-thickness : 0px;
$default-button-border-color     : transparent;


// :: Modal --------------------------------------------------------------------

$modal-bg-color : rgb(43,48,59);


// :: Custom Vars --------------------------------------------------------------
