// Ocean Dark Theme

$red : rgb(191,97,106);
$green : rgb(163,190,140);

// :: Global -------------------------------------------------------------------

$root-bg-color : rgb(43,48,59);
$text-color    : rgb(143,161,179);


// :: Links --------------------------------------------------------------------

$link-color          : $green;
$disabled-link-color : rgb(79,81,102);


// :: Headings -----------------------------------------------------------------

$h1-color         : rgb(239,241,245);
$h2-color         : rgb(239,241,245);
$h3-color         : rgb(239,241,245);
$h4-color         : rgb(239,241,245);
$h5-color         : rgb(239,241,245);
$h6-color         : rgb(239,241,245);


// :: Buttons ------------------------------------------------------------------

$default-button-text-color       : rgb(255,255,255);
$default-button-bg-color         : $red;


// :: Modal --------------------------------------------------------------------

$modal-bg-color : rgb(43,48,59);


// :: Custom Vars --------------------------------------------------------------
